.header{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 0.2rem solid lightgray;
}
.menuText{
    position: absolute;
    top: 0.8rem;
    left: 4rem;
}
.inshortsLogo{
    width: 11rem;
    height: 5rem;
    object-fit: cover;
    margin: auto;
}
.fa-bars{
    font-size: 1.9rem;
}