.newsCard img{
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    padding: 0 1rem 0 0;
}
.newsCard{
    display: flex;
    align-items: flex-start;
    width: 55rem;
    height: 16rem;
    font-size: 1rem;
    margin: 1rem auto;
    border-radius: 0.1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
}

.newsTitle{
    font-size: 1.375rem;
}

.authorAndTime strong, .readMore strong{
    font-weight: bolder;
}
.authorAndTime, .readMore{
    font-size: 0.75rem;
}

.cardRight{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}